<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Mascota</title>
    <link rel="stylesheet" href="/css/style.css">
      <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>
</head>
<body>
    
     <header>
         <div class="header-container">
             <div class="contenedorImagen">
                 <img src="/img/logo-ado.png" alt="" class="logo">
             </div>
             <nav class="header-navbar">
                 <ul class="navbarLista">
                     <li><a href="/">Home</a></li>
                     <li><a href="/login">Login</a></li>
                     <li><a href="/registro">Registro</a></li>
                     <li><a href="/detalle">Detalle</a></li>
                     <li><a href="/carro">Carrito</a></li>
                 </ul>
             </nav>
         </div>
     </header>
    <main class="info-animal">  
     <H1 class="detalle-title">Detalle de la mascota</H1>
     <h3 class="Name-mascota">Nombre de la Mascota</h3>
      <div class="image-principal">
     <img src="/img/perro1.jpg" alt="Perro max" class="animalito-img-cards-titular">  
      </div>
 
      <button class="boton-details" type="button" onclick="location.href='/carro'"> Agregar al Carrito</button>  
 
       <div class="info-principal">
         
          <div class="details-sexo">
         <img src="/img/perro1.jpg" alt="Perro max" class="animalito-img-cards-detalle"> 
           <label>Sexo</label></div>
 
           <div class="details-edad">
         <img src="/img/perro1.jpg" alt="Perro max" class="animalito-img-cards-detalle"> 
          <label>Edad</label></div>
 
          <div class="details-vacunas">
          <img src="/img/perro1.jpg" alt="Perro max" class="animalito-img-cards-detalle"> 
          <label>Vacunas</label></div>
 
          <div class="details-actitud">
         <img src="/img/perro1.jpg" alt="Perro max" class="animalito-img-cards-detalle">
          <label>Actitud</label></div>
 
          <div class="details-ciudad">
         <img src="/img/perro1.jpg" alt="Perro max" class="animalito-img-cards-detalle">
         <label>Ciudad</label></div>
 
   </div>
   
     </main>
   <footer class="footer-container">
 
     <div class="redesSociales">
         <p> <a href=""> <i class="fa-brands fa-github fa-2x"></i>Github</a>  </p>
         <p> <a href=""><i class="fa-brands fa-facebook fa-2x"></i>Facebook</a> </p>
         <p><a href=""><i class="fa-brands fa-instagram fa-2x"></i>Instagram</a> </p>
         <p><a href=""><i class="fa-solid fa-envelope fa-2x"></i> Correo</a></p>
     </div>
 
     <div class="footer-derechos">
         <p>Copyright &copy; 2022 - Adopt me <i class="fa-solid fa-paw"></i></p>
     </div>
 
     <div class="footer-autores">
         <p>Desarrollado por: <a href="">Kenneth Leonel,Juan Pablo Acosta,Sofia Triaca,Kristian Rojas</a></p>
     </div>
 
 </footer>
</html>