<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Mascota</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="menu-detalle-mascota">
    <h1>Detalle mascota</h1>
    <div ><a href="./">Home</a></div> 
    <div ><a href="./login"><h1>login</h1></a></div> 
    <div ><a href="./registro"><h1>Registro</h1></a></div> 
    <div ><a href="./detalle"><h1>Detallemascota</h1></a></div> 
    <a href="./carro"><h1>Carritomascota</h1></a></div> 
</body>
</html>