<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="/css/style.css">

        <!-- Font Monserrat-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@100&display=swap" rel="stylesheet">


</head>
<body id="body">


    <header>
        <div class="header-container">
            <div class="contenedorImagen">
                <!-- <p>Adopt me </p> -->
                <img src="/img/logo-ado.png" alt="Logo mascotas" class="logo">
            </div>
            <nav class="header-navbar">
                <ul class="navbarLista">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registro">Registro</a></li>
                    <li><a href="/detalle">Detalle</a></li>
                    <li><a href="/carro">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="center">
        <h1>Ingresar</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Correo</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <div class="pass">Olvidaste tu contraseña?</div>
            <input type="submit" value="Ingresa">
            <div class="signup_link">
                No eres miembro? <a href="/registro">Registrate!</a>
            </div>

            <!--Redes sociales-->

            <div class="container2">
                <form action="/action_page.php">
                  <div class="row">
                    <h3 class="social-title">Ingresa con tus redes sociales!</h3>
                    </div>
                      <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i>Facebook
                      </a>
                      <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i>Twitter
                      </a>
                      <a href="#" class="google btn">
                        <i class="fa fa-google fa-fw"></i>Google+
                      </a>
                    </div>
                    
              

        </form>
    </div>
</body>
</html>