*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*
    Paleta de colores
    celeste : #4dabab
    verde : #94be68
    amarrillo: #f1bd45
    naranja: #e3894b

    lOGO : Falta

*/

body{
min-height: 100vh;
width: 100vw;

}
/* Estilos Header */
header{

    background-color:  #4dabab;

}
.header-container{
    display: flex;
    justify-content: space-between;


}
.contenedorImagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    flex-grow: 1;

}

.logo{
    width : 20%;


}
.navbarLista{
    display: none;
}

/* Estilos Footer */
footer{
    background-color: #4dabab;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container div{
    margin-top: 10px ;
}
.redesSociales{
    display: flex;


}
.redesSociales p{
    margin: 0 10px;

}
.redesSociales p a {
    color: #f1bd45;
    text-decoration: none;
    transition: 2s all;

}
.redesSociales p a:hover{
    color: #94be68;
    text-decoration: underline;
}
.redesSociales p a i {
    margin-right: 10px;
}
.footer-derechos{
    color: #f1bd45;
    font-size: 16px;
}
.footer-autores{
    color: #f1bd45;
}
.footer-autores p a {
    color: #f1bd45;
    text-decoration: none;
    transition: 1s all;
}
.footer-autores p a:hover{
    color: #94be68;
    text-decoration: underline;
}


/* Estilos index.html Home + Gallery */

.titulo{
    font-size: 40px;
    /* color: #f1bd45; */
    text-align: center;

    margin-bottom: 10px;

}

.main-section-introduccion{
    border: 2px solid #f1bd45;

    padding: 50px;
    background-image:url(/img/backgroundMainHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.9;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover ;
    ;
    z-index: auto;
    background-attachment: scroll; */
    /* background-attachment: fixed; */

    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}
.contenido-introduccion{
    padding: 20px;
    width: 100%;
    display:flex;
    flex-direction: column;
}
.contenido-introduccion p{
    margin-top: 10px;
    font-size: 18px;
    color: #e7e9db;
    font-weight: bold;
    text-align: justify;
}
.boton{
    margin-top: 10px;
    background-color: #f1bd45;
    width: 40%;
    align-self: end;
    border-radius: 5px;
    padding: 5px;
    transition: 1s all;
}
.boton:hover{
    background-color: #94be68;
    transform: scale(0.98);
}

.main-section-animalitos{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contendedor-dropdown{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    margin-right: 20px;
}
#animalitos{
    margin-right: 20px ;
}
.boton2{
    background-color: #f1bd45;
    border-radius: 5px;
    padding: 5px;
    transition: 1s all;
}
.boton2:hover{
    background-color: #94be68;
    transform: scale(0.98);
}
.contenedor-input-wrapper{
    display: flex;
    justify-content: end;
}
.input-wrapper{
  max-width: 520px;
  min-width: 250px;
  width: 40%;
  position: relative;
  margin-right: 20px;
}
.input-wrapper input{
    padding: 0.5rem;
    width: 100%;

}
.icon-imput{
    position: absolute;
    display: block;
    bottom: .5rem;
    right: 1rem;
    user-select: none;
    cursor: pointer;
}
.icon-imput a {
    text-decoration: none;
    color: #000;
}
/*--------------------Galeria------------*/


.container-animales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap : 30px  ;
    margin-top: 30px;
    align-items: center;
    box-sizing: border-box;
}
.animalito-img-cards{
    width: 230px;
    max-width: 270px;
    height: 220px;
    border-radius: 10px;
    box-sizing: border-box;
}
.animalito-card{
    display: flex;
    max-width: 270px;
    height: 370px;
    flex-direction: column;
    align-items: center;
    background-color: azure;
    box-shadow: #000 0px 0px 5px;
    border-radius: 10px;
    padding: 15px;
    gap: 15px;
    transition: 1s all;
    box-sizing: border-box;
   
}
.animalito-card:hover{
    transform: scale(1.02);
}
.container-ajustarAnimales{
    width: 90%;
    display: block;
    margin: 0 auto;
}



/* Estilos DetallesMascota.html  */

.menu-detalle-mascota{display: flex;
justify-content: space-between;
}
.info-animal{text-align: center;} 
.detalle-title{text-align: center;}
.animalito-img-cards-detalle{
    width: 30px;
    max-width: 30px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 30px;
    margin-top: 30px;
}
.animalito-img-cards-titular{
    width: 300px;
    max-width: 300px;
    height: 300px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}
.boton-details{ text-align: right; background-color: #f1bd45;
    border-radius: 5px;
    padding: 5px;
    transition: 1s all;}
.boton-details:hover{ background-color: #94be68;
        transform: scale(0.98);}
        
.info-principal{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction:row;
    gap : 30px  ;
    margin-top: 30px;
    align-items: center;
    box-sizing: border-box;}



/* Estilos CarritoMascota.html */



/* Estilos Login.html */



/* Estilos Registro.html */


@media  (min-width: 768px){


    /* Estilo Header */

    .navbarLista{
        display: flex;
        justify-content: space-between;

    }
    .navbarLista li{
        list-style: none;
        margin: 20px 15px;
        font-size: 18px;
         text-decoration: none;
        font-weight: bold;


    }

    .navbarLista li a{

        color: #f1bd45;
        text-decoration: none;
        transition: 1s all;
    }
    .navbarLista li a:hover{
        color: #94be68;
        text-decoration: underline;

    }
    /* Footer */


    /* index.html */
    .contenido-introduccion{
        padding: 20px;
        width: 40%;
        display:flex;
        flex-direction: column;
    }
    .contenido-introduccion p{
        margin-top: 10px;
        font-size: 18px;

        text-align: justify;
    }
    .boton{
        margin-top: 10px;
        background-color: #f1bd45;
        align-self: end;
        border-radius: 5px;
        padding: 5px;
        transition: 1s all;
    }
    .container-animales{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
        gap: 20px;
    }
    .animalito-card{
        flex: 0 0 33.333333%;
    }

    

}

