<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Iniciar Sesion</title>
</head>
<body>
    <%- include('../partials/navegacion') %>
    <main>
    <div class="center">
        <h1>Ingresar</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <span></span>
                <label>Correo</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <span></span>
                <label>Contraseña</label>
            </div>
            <div class="pass">Olvidaste tu contraseña?</div>
            <input type="submit" value="Ingresa">
            <div class="signup_link">
                No eres miembro? <a href="/registro">Registrate!</a>
            </div>

            <!--Redes sociales login-->
            <div class="container2">
                <form action="/action_page.php">
                  <div class="row">
                    <h3 class="social-title">Ingresa con tus redes sociales!</h3>
                    </div>
                      <a href="#" class="fb btn">
                        <i class="fa fa-facebook fa-fw"></i>Facebook
                      </a>
                      <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i>Twitter
                      </a>
                      <a href="#" class="google btn">
                        <i class="fa fa-google fa-fw"></i>Google+
                      </a>
                    </div>
                </form>
            </div>
        </form>
    </div>

    </main>
  
    
</body>
</html>