<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Admin</title>
</head>
<body>
    <%- include('../partials/navegacion') %> 
<main>


<section>
<nav class="informacion">Informacion de los animales  <button class="agregaranimal">Agregar animal</button>  </nav>
 <p>Buscar:</p><input type="text">
<div class="menu-info">
<div class="menu-Id"><p>ID</p> <h2>1<h2> </div>
<div class="menu-Fecha"><p>Fecha</p><h2>1998-2-1<h2></h2></div>
<div class="menu-Centro"><p>Centro</p><h2>Bormujos<h2></h2></div>
<div class="menu-Nombre"><p>Nombre</p><h2>Max<h2></h2></div>
<div class="menu-Curso"><p>Curso</p><h2>Starters 1<h2></h2></div>
<div class="menu-Edad"><p>Edad</p><h2>2 Años</h2></div>
<div class="menu-Contacto"><p>Contacto</p><i class="fa-brands fa-whatsapp"></i><i class="fa-solid fa-envelope"></i></div>
<div class="menu-Etiquetas"><p>Etiquetas</p><button type="submit">Nueva Solicitud</button></div>
<div class="menu-Acciones"><p>Acciones</p><i class="fa-solid fa-trash"></i><i class="fa-solid fa-eye"></i><i class="fa-regular fa-pen-to-square"></i></div>
</div>

</section>





</main>

<%- include('../partials/footer') %>

</body>


</html>


