<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
     <title>Form Adoptame</title>
</head>
<body> <%- include('../partials/navegacion') %> 
    <main>
        <div class="main-info">
            <h2>Editar Mascota</h2>
            <div>Nombre</div><input type="text">
            <div class="form-edad">Edad</div><input type="number">
            <div class="form-sexo">Sexo</div><input type="text">
            <div class="form-raza">Raza</div><input type="text">
            <div class="form-tipo">Tipo de especie</div><input type="text">
            <div class="form-adoptado">Adoptado</div>Verdadero<input type="checkbox">Falso<input type="checkbox">
            <div class="form-vacunas">Vacunas</div><input type="number">
            <div class="form-ciudad">Ciudad</div><input type="text">
            <div class="form-pais">Pais</div><input type="text">
            <div class="form-file">Foto de la mascota</div> <div class="form-file"><input type="file"></div>
          <div> <button type="submit" class="form-button"onclick="location.href='/form'">Agregar info</button>
            <button type="reset" class="form-button-delete" onclick="location.href='/form'">Borrar</button></div> 
           </div>
           
    </main>

    <%- include('../partials/footer') %>
</body>
</html>