<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
     <title>Form Adopta me</title>
</head>
<body> <%- include('../partials/navegacion') %> 
    <main>
        <div class="main-info">
            <div class="form-nombre">Nombre<input type="text"></div>
            <div class="form-edad">Edad<input type="number"></div>
            <div class="form-sexo">Sexo<input type="text"></div>
            <div class="form-raza">Raza<input type="text"></div>
            <div class="form-tipo">Tipo<input type="text"></div>
            <div class="form-adoptado">Adoptado <p> verdadero<input type="checkbox">falso<input type="checkbox"></p></div>
            <div class="form-vacunas">Vacunas<input type="number"></div>
            <div class="form-ciudad">Ciudad<input type="text"></div>
            <div class="form-pais">Pais<input type="text"></div>
            <button type="submit" class="form-button">Agregar info</button>
           </div>
           
       
    </main>

    <%- include('../partials/footer') %>
</body>
</html>