<footer class="footer-container">

    <div class="redesSociales">
        <p> <a href=""> <i class="fa-brands fa-github fa-2x"></i>Github</a>  </p>
        <p> <a href=""><i class="fa-brands fa-facebook fa-2x"></i>Facebook</a> </p>
        <p><a href=""><i class="fa-brands fa-instagram fa-2x"></i>Instagram</a> </p>
        <p><a href=""><i class="fa-solid fa-envelope fa-2x"></i> Correo</a></p>
    </div>

    <div class="footer-derechos">
        <p>Copyright &copy; 2022 - Adopt me <i class="fa-solid fa-paw"></i></p>
    </div>

    <div class="footer-autores">
        <p>Desarrollado por: <a href="">Kenneth Leonel, Kris Rojas, Juan Acosta, Sofia Triaca </a></p>
    </div>

</footer>