
    <header>
        <div class="header-container">
            <div class="contenedorImagen">
                <!-- <p>Adopt me </p> -->
                <img src="/img/logo-ado.png" alt="Logo mascotas" class="logo">
            </div>
            <nav class="header-navbar">
                <ul class="navbarLista">
                    <li><a href="/">Home</a></li>
                    <li><a href="/carro">Carrito</a></li>
                    <% if(!locals.usuario){ %>
                    <li><a href="/login">Ingresar</a></li>
                    <li><a href="/registro">Registrarse</a></li>
                    
                    <% }else{ %>
                        
                          <li> <a href="/login/logout">Cerrar sesion</a> </li>
                          <li> <a href="/usuario"> <%= usuario.nombre%></a> </li>
                                       
                        <% } %> 
                   
                </ul>
            </nav>
        </div>
    </header>