
    <header>
        <div class="header-container">
            <div class="contenedorImagen">
                <!-- <p>Adopt me </p> -->
                <img src="/img/logo-ado.png" alt="Logo mascotas" class="logo">
            </div>
            <nav class="header-navbar">
                <ul class="navbarLista">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/registro">Registro</a></li>
                    <li><a href="/admin">Crud Admin</a></li>
                    <li><a href="/carro">Carrito</a></li>
                </ul>
            </nav>
        </div>
    </header>